checkpoints/
dataset/
figs/
logs/
station/
station_pre/
test_results/
manual_exp/
visualize/
figures/
extra_exp/
m4_results/
.env
notify.sh

nohup.out
exp_extra.py
exp_extra.ipynb
manual_exp.ipynb
motivating_exp.ipynb
result_summary.ipynb
visualize.ipynb

result.csv
summary_results.csv
result.txt